<div id="backblack" *ngIf="vermodal">
  <div class="modalbase">
    <app-nuevo-paciente *ngIf="newpaciente" (resolver)="resolver($event)"></app-nuevo-paciente>
    <app-fichapaciente *ngIf="fichapaciente" (resolver)="resolver($event)" [fichapacienteobj]="fichapacienteobj"></app-fichapaciente>
  </div>
</div>
<div class="header">
  <div >
    <div class="icon"><i class="far fa-user "></i></div>
    <div><span>Dr. Daniel Ropero</span></div>
    <div class="arrow"><i class="fas fa-chevron-down"></i></div>
  </div>
</div>

<div id="mainapp">
<div class="espacioIzquierda"></div>
<app-listadopacientes id="lp" (resolver)="resolver($event)" (verpaciente_)="verpaciente_($event)"></app-listadopacientes>

</div>
